# Firebase Configuration Example
VITE_FIREBASE_API_KEY="VOTRE_ALEA_API_KEY"
VITE_FIREBASE_AUTH_DOMAIN="votre-projet.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="votre-projet"
VITE_FIREBASE_STORAGE_BUCKET="votre-projet.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="votre-sender-id"
VITE_FIREBASE_APP_ID="votre-app-id"
VITE_FIREBASE_VAPID_KEY="votre-vapid-key"

# Supabase Configuration Example
VITE_SUPABASE_URL="https://votre-projet.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="votre-key-publique"

# AI Configuration
VITE_OPENROUTER_API_KEY="votre-openrouter-key"
VITE_GEMINI_API_KEY="votre-gemini-key"

# Sécurité (Optionnel)
VITE_FIREBASE_RECAPTCHA_KEY="votre-recaptcha-key"
VITE_AES_SALT="votre-sel-de-chiffrement-unique"
