rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Each user can manage their own secrets
    match /secrets/{userId}/{allPaths=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
    // Each user can manage their own profile photo
    match /avatars/{userId} {
      allow read: if request.auth != null;
      allow write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
